* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #008c4a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-btn {
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.logo {
    height: 40px;
}

.voltar-btn {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.event-details {
    background-color: #c7d3c1;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

strong {
    font-weight: bold;
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    width: 45%;
}

.checkin-btn {
    background-color: #333;
    color: white;
}

.checkin-btn:hover {
    background-color: #000;
}

.cancelar-btn {
    background-color: #d9534f;
    color: white;
}

.cancelar-btn:hover {
    background-color: #c9302c;
}
