/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008037;
    padding: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    padding: 0;
}

.menu-icon-bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin: 3px 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.logo-uece {
    height: 50px;
    margin-left: 10px;
}

.logoff-button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    margin: 20px;
}

.page-title {
    font-size: 32px;
    font-weight: bold;
    text-transform: lowercase;
}

#curso-name {
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Estilo das seções */
.card {
    background-color: #d1d8c4;
    padding: 20px;
    border-radius: 8px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    background-color: #008037;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.card-content {
    background-color: #f0f0f0;
    flex-grow: 1;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
}

/* Estilos para os dados */
#professores-list ul, #eventos-list ul, #alunos-list ul {
    list-style-type: none;
    padding: 0;
}

#professores-list li, #eventos-list li, #alunos-list li {
    margin: 10px 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
}

#professores-list li a, #eventos-list li a, #alunos-list li a {
    text-decoration: none;
    color: #008037;
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1;
}

#professores-list li a:hover, #eventos-list li a:hover, #alunos-list li a:hover {
    color: #004a1f;
    text-decoration: underline;
}
