* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #008c4a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-btn {
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.logo {
    height: 40px;
}

.voltar-btn {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

main {
    flex: 1;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.event-form {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group {
    width: 48%;
}

label {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

textarea {
    height: 100px;
}

input::placeholder, textarea::placeholder {
    color: #999;
}

input:focus, textarea:focus {
    border-color: #008c4a;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.cancelar-btn {
    background-color: #e0e0e0;
    color: #333;
}

.cancelar-btn:hover {
    background-color: #d6d6d6;
}

.criar-btn {
    background-color: #333;
    color: white;
}

.criar-btn:hover {
    background-color: #000;
}
