* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #008c4a;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: relative;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-btn {
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.logo {
    height: 40px;
    margin-left: 30px;
}

main {
    flex: 1;
    text-align: center;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

input::placeholder {
    color: #ccc;
}

.button-group {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.voltar-btn {
    background-color: #e0e0e0;
    border: 2px solid #ccc;
}

.logar-btn {
    background-color: #333;
    color: white;
}
